<a href="https://colab.research.google.com/github/devi91699/Python/blob/main/basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

positive or negative

In [ ]:
num = 7
if num<0:
  print("negative")
elif num>0:
  print("positive")
else:
  print("zero")

positive

even or odd

In [ ]:
num = int (input("Enter a number:"))
if num % 2 == 0:
  print("even")
else:
  print("odd")

Enter a number:8
even

sum of first n natural numbers

In [ ]:
num = 6
sum=0
for i in range(num + 1):
  sum+=i
print(sum)

21

sum of n natural numbers

In [ ]:
num, sum = 6,9
for i in range(num + 1):
  sum+=i
print(sum)

30

sum of range

In [ ]:
num1 , num2 = 4,9
sum=0
for i in range(num1, num2 +1):
  sum+=i
print (sum)

39

2 greatestnumber

In [ ]:
num1, num2 = 30, 20
if num1 >= num2:
  print("num1")
else:
  print("num2")

num1

3 greatest no

In [ ]:
num1, num2,num3 =20,30,10
max = 0
if num1>=num2 and num1>=num3:
  print (num1)
elif num2>=num1 and num2>=num3:
  print(num2)
else:
  print(num3)

30

leap year

In [ ]:
year = 2005
if (year%400==0) or (year%4==0) and (year%100!=0):
  print('leap year')
else:
  print('not leap year')

not leap year

prime number or not :

In prime factor we have  only 2 factors for any number

In [ ]:
num = 27
flag =0
for i in range(2, num):
  flag = 1
  break;
if flag == 1:
  print ('not prime')
else:
  print('not prime')

not prime

prime number with range

In [ ]:
low, high = 2,10
primes = []
for i in range(low , high + 1):
  count = 0
  if i<2:
    continue
  if i == 2:
    primes.append(2)
    continue
  for x in range(2,i):
    if i%x == 0:
      count = 1
      break
  if count == 0 :
    primes.append(i)
print(primes)

[2, 3, 5, 7]

Palindrome check

1) Find reverse of number
2) compare reverse of a number with given number
3) if both are equal then we say it is a palindrome number
4) if it is not equal then it is not palindrome

In [ ]:
num = 212003
temp = num
rev = 0
while temp>0:
  remainder = temp %10
  rev = rev*10 + remainder
  temp = temp//10
if num == rev:
  print('palindrome')
else:
  print('not palindrome')

not palindrome

In [ ]:
n = int (input('Enter a number'))
m = int (input('Enter a number'))
for i in range(1,m+1):
  p =0
  p2 =0
  if (i%n == 0):
      p+=i
  else:
    p2+=i
print(abs(p2 - p))

Enter a number4
Enter a number20
20

sum of digits

In [ ]:
num = input("Enter Number: ")
sum = 0

for i in num:
    sum = sum + int(i)

print(sum)

Enter Number: 34
7

Reverse number

In [ ]:
num = 1234
temp = num
reverse = 0
while num > 0:
    remainder = num % 10
    reverse = (reverse * 10) + remainder
    num = num // 10

print(reverse)

4321

Armstrong number :

sum of cubes of individual of number = given number

In [ ]:
number =153
num = number
digit, sum =0, 0
length = len(str(num))
for i in range (length):
  digit = int(num%10)
  num = num/10
  sum += pow(digit,length)
if sum==number:
  print ('armstrong number')
else:
  print ('not armstrong number')

armstrong number

Automorphic

In [ ]:
n=int(input())
m=n*n
num=m%10
if num==n:
  print("Automorphic")
else:
  print("Not Automorphic")

45
Not Automorphic

Abundant

In [ ]:
n=int(input())
sum=0
for i in range(1,n):
  if n%i==0:
    sum=sum+i
if sum>n:
  print("Abundant")
else:
  print("Not Abundant")

20
Abundant

Harshad no

In [ ]:
n=21
original=n
sum=0
while n>0:
  r=n%10
  sum=sum+r
  n=n//10
if original%sum==0:
  print("Harshad")
else:
  print("Not Harshad")

Harshad

prefect no

friendly pair

In [ ]:
n1=int(input())
n2=int(input())
sum1=0
sum2=0
for i in range(1,n1):
  if n1%i==0:
    sum1+=i
for j in range(1,n2):
  if n2%j==0:
    sum2+=j
if sum1*n2==sum2*n1:
  print("Friendly Pair")
else:
  print("Not Friendly Pair")

6
28
Friendly Pair

Prefect square

if we take a no ex - 25 now we need to do whole square for 25 then it will come 5

now we need to multiply 5 with 5 if it is 25 then it is a perfect no

In [ ]:
n=25
for i in range(1,n):
  if i*i==n:
    print("Perfect Square")
    break
else:
  print("Not Perfect")

Perfect Square

operation on strings

finding vowels or not

In [ ]:
c=input()
if(c=='a' or c=='e' or c=='i' or c=='o' or c=='u' or c=='A' or c=='E' or c=='I' or c=='O' or c=='U'):
  print("Vowel")
else:
  print("Not vowel")

d
Not vowel

In [ ]:
a=input()
v=0
c=0
for i in a:
  if(i=="i" or i=="a" or i=="e" or i=="o" or i=="u" or i=="A" or i=="E" or i=="I" or i=="O" or i=="U"):
    v+=1
  else:
    c+=1
print("vowels",v)
print("consonants",c)

Devi
vowels 2
consonants 2

In [ ]:
ch=input()
if 'a'<=ch<='z' or 'A'<=ch<='Z':
  print("Alpha")
else:
  print("Not Alpha")

d
Alpha

In [ ]:
a=input()
b=ord(a)
print(b)

%
37

In [ ]:
n='devi'
m='ramala'
print(n.lower() +m.upper())

deviRAMALA

In [ ]:
str=input()
str1=""
for i in str:
  if i.isupper():
    str1+=i.lower()
  else:
    str1+=i.upper()
print(str1)

DeVi
dEvI

In [ ]:
str=input()
print(str.swapcase())

Devi
dEVI

In [ ]:
str=input()
str=str[0].upper()+str[1:len(str)-1]+str[len(str)-1].upper()
print(str)

devi
DevI

In [ ]:
str=input()
words=str.split()
cap_words=[]
for word in words:
  if len(word)>1:
    cap_word=word[0].upper()
    word[1:-1]+word[-1].upper()
  else:
    cap_word=word[0].upper()
  cap_words.append(cap_word)
print(" ".join(cap_words))

Devi is good girl
D I G G

In [ ]:
str=input()
str=str[::-1]
print(str)

devi
ived

Small Large Sum
Write a function SmallLargeSum(array) which accepts the array as an argument or
parameter, that performs the addition of the second largest element from the
even location with the second largest element from an odd location?
Rules:
All the array elements are unique.
If the length of the array is 3 or less than 3, then return 0.
If Array is empty then return zero.
Sample Test Case 1:
Input:
6
3 2 1 7 5 4
Output:
7
Explanation: The second largest element in the even locations (3, 1, 5) is 3. The
second largest element in the odd locations (2, 7, 4) is 4. So the addition of 3 and
4 is 7. So the answer is 7.
Sample Test Case 2:
Input:
7
4 0 7 9 6 4 2
Output:
10

In [ ]:
length = int(input())
arr = list(map(int,input().split()))
even_arr =[]
odd_arr = []
for i in range(length):
  if i%2 == 0:
    even_arr.append(arr[i])
  else:
    odd_arr.append(arr[i])
even_arr=sorted(even_arr)
odd_arr=sorted(odd_arr)
print(even_arr[-2] +odd_arr[-2])

6
6 3 2 1 7 5 4
9

In [ ]:
def Replacecharacter(str,ch1,ch2):
    str1 = str1.replace(ch1,'#')
    str1 = str1.replace(ch2,ch1)
    str1 = str1.replace('#',ch2)
    return str1
str1 = "devi"
ch1 = 'e'
ch2 = 'v'
output = Replacecharacter(str1,ch1,ch2)
print(output)

UnboundLocalError: local variable 'str1' referenced before assignment

In [ ]:
def Replacecharacter(str1, ch1, ch2):
    str1 = str1.replace(ch1,'#')
    str1 = str1.replace(ch2, ch1)
    str1 = str1.replace('#',ch2)
    return str1
str1 = "tervpro"
ch1 = 'e'
ch2 = 'p'
output = Replacecharacter(str1, ch1, ch2)
print(output)

tprvero